body{

    background-color:#012a4a;
  }

h1{
    color: #a9d6e5;
    text-align: center;
} 
.outer{
    position: relative;
    margin: 0 50px;
    background: #111;
  }
  .button{
    height: 40px;
    width: 120px;
    border-radius: 50px;
  }
  .outer button, .outer span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .outer button{
    background: #111;
    color: #f2f2f2;
    outline: none;
    border: none;
    font-size: 10px;
    z-index: 9;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .button button{
    height: 30px;
    width: 110px;
    border-radius: 50px;
  }
  .outer span{
    height: 100%;
    width: 100%;
    background: inherit;
  }
  .button span{
    border-radius: 50px;
 }
  .outer:hover span:nth-child(1){
        filter: blur(7px);}
  .outer:hover{
    background: linear-gradient(#a9d6e5, #89c2d9, #61a5c2);
    animation: rotate 1.5s linear infinite;
  }
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  @media (max-width: 640px){
    .center{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .outer{
      margin: 50px 0;
    }
  }
  .outer:hover{
    background: linear-gradient(#a9d6e5, #89c2d9, #61a5c2);
    animation: rotate 1.5s linear infinite;
  }
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  @media (max-width: 640px){
    .center{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .outer{
      margin: 50px 0;
    }
  }
   
  
#course {
    width: 150px;
    border: 2px solid #aeaeb5;
    border-radius: 6px;
    font-size: 20px;
    padding: 2px;
    margin-top: -10px;
  }
#course:focus {
    outline: none;
    border-color: #a9d6e5;
    box-shadow: 0 0 10px #a9d6e5;
  }

#Plus{
    width: 10px;
    border: 2px solid #aeaeb5;
    border-radius: 6px;
    font-size: 20px;
    padding: 2px;
    margin-top: -10px;
  }
#Plus:focus {
    outline: none;
    border-color: #a9d6e5;
    box-shadow: 0 0 10px #a9d6e5;
  }
div{
    display: flex;
    color: #a9d6e5;
    font-size: large;
    justify-content:space-around;
    
}


table{
    background-color: #ffffff;
    outline: none;
    border-color: #a9d6e5;
    box-shadow: 0 0 10px #a9d6e5;
    border-radius: 0px;
}