@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

/* body{

    background-color:#fae0e4;
  } */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
    /* font-family: 'Courier Prime', monospace; */
    font-family: 'Poppins', sans-serif;
    color:#405c14;
    
  }
   /* @media  screen and (max-width:400px) {
    #batch1{
      background-color: #38b000;
    }
    
  }  */
  .neumorphic{
    /* transform: translate(-50%,-50%); */
    /* top: 0%;
    left: 50%; */
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: #939393;
    text-shadow: 
    -8px -8px 12px rgba(255,255,255,0.4),
    8px 8px 12px rgba(0,0,0,0.08);
    caret-color:#262626;
    outline: none;
    backdrop-filter: blur(10px);
    border-radius: 20px;
 }
 .neumorphic2{
  /* transform: translate(-50%,-50%); */
  /* top: 0%;
  left: 50%; */
  font-family: 'Poppins',sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #939393;
  text-shadow: 
  -8px -8px 12px rgba(255,255,255,0.4),
  8px 8px 12px rgba(0,0,0,0.08);
  caret-color:#262626;
  outline: none;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
 

 
 
  .wrapper {
    display: block;
    flex-direction: column;
    background: #ecf0f3;
    /* background: -webkit-linear-gradient(top left,#50a3a2 0%,#53e3a6 100%);
    background: -moz-linear-gradient(top left,#50a3a2 0%,#53e3a6 100%);
    background: -o-linear-gradient(top left,#50a3a2 0%,#53e3a6 100%);
    background: linear-gradient(to bottom right,#50a3a2 0%,#53e3a6 100%); */
    position: absolute;
    top: 0%;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    overflow: scroll;
  } 
   .bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color:#708090;
    opacity:.4;
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
  }
  .bg-bubbles li:nth-child(1) {
    left: 10%;
  }
  .bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
    animation-duration: 17s;
  }
  .bg-bubbles li:nth-child(3) {
    left: 25%;
    animation-delay: 4s;
  }
  .bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 22s;
    background-color: rgba(255,255,255,0.25);
  }
  .bg-bubbles li:nth-child(5) {
    left: 70%;
  }
  .bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    animation-delay: 3s;
    background-color: rgba(255,255,255,0.2);
  }
  .bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    animation-delay: 7s;
  }
  .bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 15s;
    animation-duration: 40s;
  }
  .bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    animation-duration: 40s;
    background-color: rgba(255,255,255,0.3);
  }
  .bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    animation-delay: 11s;
  }
  @-webkit-keyframes square {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-700px) rotate(600deg);
    }
  }
  @keyframes square {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-700px) rotate(600deg);
    }
  } 
  
h1{
    color: #7400b8;
    text-align: center;
    font-family: 'Courier Prime', monospace;
} 
.cover{
   display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
}
@media  screen and (max-width:1011px) {
  .cover{
    /* background-color: #38b000;  */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
} 
#details,#details2{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  /* background:transparent; */
  /* backdrop-filter: blur(20px); */
  width:310px;
    height: 350px;
     padding: 0px 35px 0px 35px; 
    border-radius: 20px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;
  
}
.fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 5px 5px 5px;
}
.fields input {
  border: none;
  outline:none;
  background: none;
  font-size: 18px;
  color: #515150;
  padding:20px 10px 30px 0px;
  align-content: center;
  text-align: center;
}
.username, .password {
  display: block;
  margin-bottom: 30px; 
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
}

.signin-button {
  padding: 1em 0.5em -1em 0.5em;
  
  height: 50px;
  background: #efefef;
  border: none;
  border-radius: .5rem;
  color: #444;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
}
.signin-button:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
.signin-button:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
              inset -2px -2px 4px rgba(255, 255, 255, .5),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color:#50a3a2;
  background:#50a3a2;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #5e60ce, #5e60ce, #5390d9, #4ea8de, #48bfe3,#4ea8de,#5390d9,#5e60ce );
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #fae0e4
}

.glow-on-hover:active:after {
  background:transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background:#50a3a2; */
  background: -webkit-linear-gradient(top left,#5e60ce 0%,#5e60ce 100%);
    background: -moz-linear-gradient(top left,#5e60ce 0%,#5e60ce 100%);
    background: -o-linear-gradient(top left,#5e60ce 0%,#5e60ce 100%);
    background: linear-gradient(to bottom right,#5e60ce 0%,#5e60ce 100%);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}


  
.outer{
    position: relative;
    margin: 0 50px;
    background: #111;
  }
  .button{
    height: 40px;
    width: 120px;
    border-radius: 50px;
  }
  .outer button, .outer span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .outer button{
    background: #111;
    color: #f2f2f2;
    outline: none;
    border: none;
    font-size: 10px;
    z-index: 9;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .button button{
    height: 30px;
    width: 110px;
    border-radius: 50px;
  }
  .outer span{
    height: 100%;
    width: 100%;
    background: inherit;
  }
  .button span{
    border-radius: 50px;
 }
  .outer:hover span:nth-child(1){
        filter: blur(7px);}
  .outer:hover{
    background: linear-gradient(#a9d6e5, #89c2d9, #61a5c2);
    animation: rotate 1.5s linear infinite;
  }
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  @media (max-width: 640px){
    .center{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .outer{
      margin: 50px 0;
    }
  }
  .outer:hover{
    background: linear-gradient(#a9d6e5, #89c2d9, #61a5c2);
    animation: rotate 1.5s linear infinite;
  }
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  @media (max-width: 640px){
    .center{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .outer{
      margin: 50px 0;
    }
  }
   
  
/* #course1,#course2 {
    width: 150px;
    border: 2px solid #5390d9;
    border-radius: 6px;
    font-size: 20px;
    padding: 2px;
    margin-top: -10px;
  }
#course1:focus, #course2:focus {
    outline: none;
    border-color: #5390d9;
    box-shadow: 0 0 20px #5390d9;
  } */

#Plus{
    width: 10px;
    border: 2px solid #aeaeb5;
    border-radius: 6px;
    font-size: 20px;
    padding: 2px;
    margin-top: -10px;
  }
#Plus:focus {
    outline: none;
    border-color: #a9d6e5;
    box-shadow: 0 0 10px #a9d6e5;
  }
.div{
    display: flex;
    color: #5390d9;
    font-size: large;
    justify-content:space-around;
    
}


/* table{
    background-color:inherit;
    backdrop-filter: blur(20px);
    display: inline-block;
    outline: none;
    border-color: #fae0e4;
    box-shadow: 0 0 0px #ff477e00;
    border-collapse: collapse;
    border: 2px solid gray;
}

td{
  border: 0.1px solid lightgray;
  padding: 8px;
}
    box-shadow: 0 0 0px #ff477e;
    border-radius: 0px;
} */

/* .nav {
  list-style: none;
  text-align: center;
}

.nav li {
  background-color: transparent;
  position: relative; 
  display:inline-block;
  margin-right: 4px;
} */
.nav {
  list-style: none;
  text-align: center;
}

.nav li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}
/* .nav a {
  display: flex;
  justify-content: center;
   background-color: #48bfe3; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#48bfe3), to(#56cfe1));
  background-image: -webkit-linear-gradient(top, #48bfe3, #56cfe1); 
  background-image: -moz-linear-gradient(top, #48bfe3, #56cfe1); 
  background-image: -ms-linear-gradient(top, #48bfe3, #56cfe1); 
  background-image: -o-linear-gradient(top, #48bfe3, #56cfe1); 
  color:#111;
  margin: 0px;
  width: 150px;
  height: 50px;
  position: relative;
  text-align:center;
  font-size:large;
  line-height: 40px;
  border-radius: 10%;
  box-shadow: 0px 3px 8px #50a3a2, inset 0px 2px 3px #53e3a6;
  text-decoration:none;
} */
.nav a {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  margin: 20px;
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  text-decoration: none;
}
/* .nav a:hover{
  text-decoration: none;
  color: #555;
  background:#53e3a6;
} */
.nav a:hover{
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}

/* .nav li:before {
  content: "";
  display: block;
   border-top: 1px solid #ddd;
  border-bottom: 1px solid #111; 
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
} */
.nav li:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}
/* .nav a:before {
  content: "";
  display: block;
  background: transparent;
  border-top: 2px solid ; 
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px linear-gradient(to bottom right,#50a3a2 0%,#53e3a6 100%);
} */
.nav a:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.btntxt{
  margin:auto;
  line-height: normal;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table.neumorphic{
  width: 600px;
  border-spacing: 0;
  color: #212121;
  text-align: center;
  overflow: hidden;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
  -9px -9px 16px rgba(255, 255, 255, 0.6);
}
table.neumorphic thead{
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6);
}
table.neumorphic th{
  padding: 7px;
}

table.neumorphic>tbody>tr>td {
  padding: 10px;
  font-size: 14px;
  position: relative;
}


table.neumorphic>tbody>tr:hover {
  padding: 20px;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
  -9px -9px 16px rgba(255, 255, 255, 0.6);
}

table.neumorphic tr td:first-child::before {
  content: "";
  position: absolute;
  padding: 7px;
  top: 0;
  left: -5000px;
  width: 10000px;
  height: 100%;
  z-index: -10;
}

table.neumorphic td:hover::after {
  content: "";
  position: absolute;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
  -9px -9px 16px rgba(255, 255, 255, 0.6);
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

.neumorphism-toggle {
  position: relative;
  transition: transform 0.3s;
  transform: scale(var(--scale, 1)) translateZ(0);
}
.neumorphism-toggle:active {
  --scale: 0.96;
}
.neumorphism-toggle input {
  display: none;
}
.neumorphism-toggle input + label {
  background: #ecf0f3;
  border-radius: 15px;
  padding: 16px 0 16px 20px;
  min-width: 228px;
  display: block;
  cursor: pointer;
  position: relative;
  box-shadow: -12px -12px 24px var(--light-shadow, transparent), 12px 12px 24px var(--shadow, transparent);
  transition: box-shadow 0.4s;
}
.neumorphism-toggle input + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: linear-gradient(160deg, #F1F4FF, #F9FAFF);
  opacity: var(--gradient, 0);
  transition: opacity 0.4s;
}
.neumorphism-toggle input + label .switch {
  position: relative;
  display: inline-block;
  z-index: 1;
  vertical-align: top;
  height: 22px;
  width: 40px;
  border-radius: 11px;
  background: #ECEFFC;
}
.neumorphism-toggle input + label .switch:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: linear-gradient(90deg, #ccff33, #38b000);
  opacity: var(--gradient, 0);
  transition: opacity 0.4s;
}
.neumorphism-toggle input + label .switch .dot {
  background: #70e000;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  left: -1px;
  top: -1px;
  transform: translateX(var(--offset, 0));
  transition: transform 0.4s, box-shadow 0.4s;
  box-shadow: -4px -4px 8px var(--light-shadow-2, transparent), 4px 4px 8px var(--shadow, transparent);
}
.neumorphism-toggle input + label .switch .dot:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: linear-gradient(160deg, #F1F4FF, #F9FAFF);
  opacity: var(--gradient, 0);
  transition: opacity 0.4s;
}
.neumorphism-toggle input + label span {
  line-height: 22px;
  font-size: 16px;
  color: var(--text, #2f2d2d);
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
  position: relative;
  margin-left: 12px;
  transition: color 0.4s;
}
.neumorphism-toggle input + label + span {
  text-align: center;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  opacity: 0;
  font-size: 12px;
  font-weight: 500;
  color: #A6ACCD;
  transform: translateY(4px);
  transition: opacity 0.4s, transform 0.4s;
}
.neumorphism-toggle input:checked + label {
  --offset: 18px;
  --text: #404660;
  --gradient: 1;
  --shadow: rgba(0, 6, 39, 0.1);
  --light-shadow: rgba(244, 241, 241, 0.8);
  --light-shadow-2: rgba(202, 25, 25, 0.1);
}
.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.select-dropdown {
  position: relative;
  background-color: #ecf0f3;
  border-radius: 4px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.Footer_footer__Tl1eP {
  padding: 1rem 5rem;
  box-shadow: 0 -5px 10px 0 rgb(50 50 50 / 10%);
  background-color: #000000;
}

.Footer_flex-col__33PB1 {
  display: flex;
  flex-direction: column;
}

.Footer_margin-bottom__Spmai {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0,.25);
}

.Footer_flex-row__WjD3Q, .Footer_footer-top__XfWPV, .Footer_logos__liFzC, .Footer_nav-menu__2PXza {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Footer_flex-row__WjD3Q, .Footer_footer-top__XfWPV, .Footer_logos__liFzC, .Footer_nav-menu__2PXza {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Footer_nav-link-logo___XT25 {
  margin-right: 10px;
  cursor: pointer;
  color: #000;
}